<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VFetch</title>
    <!-- <link rel="icon" type="image/svg+xml" href="res/vfetch.svg"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
     <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='vfetch.svgg') }}">
</head>
<body>
    <div class="navbar">
        <div class="left-nav">
            <!-- <div class="logo"><img src="/res/vfetch.svg" alt=""vFetch></div> -->
            <div class="logo"><img src="{{ url_for('static', filename='vfetch.svg') }}" alt="vFetch"></div>
            <h1>VFetch</h1>
        </div>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Enter video name or keywords.">
            <button id="search-button">
                <div class="svg-wrapper-1">
                    <div class="svg-wrapper">
                        
                    </div>
                </div>
                <span><p class="textstyle">Send</p></span>
            </button>
        </div>
    </div>
    <div id="results-container"></div>

    <script src="{{ url_for('static', filename='script.js') }}?v=1.1"></script>
</body>
</html>